modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 25181
externalPort = 80

[[ports]]
localPort = 25182
externalPort = 3000
